%style{ type: "text/css" } html, body, #map { height: 100%; width: 100%; margin: 0; padding: 0; }

#map
%script{ type: "text/javascript", src: "http://maps.googleapis.com/maps/api/js" }

:javascript
  var map, infowindow;

  function init() {
    map = new google.maps.Map($("#map"), {
      center: {
        lat: 40.7259802,
        lng: -73.968023
      },
      zoom: 14,
      streetViewControl: false,
      mapTypeControl: false
    });

    infowindow = new google.maps.InfoWindow();

    var osmMapLayer = new google.maps.ImageMapType({
      getTileUrl: function(coord, zoom) {
        return "http://a.tiles.mapbox.com/v4/mapmeld.6f0kvs4i/" +
          zoom + "/" + coord.x + "/" + coord.y + ".png?access_token=pk.eyJ1IjoibWFwbWVsZCIsImEiOiI0a1NzYW53In0.2gQTd6k9Ghw8UBK4DsciLA";
      },
      tileSize: new google.maps.Size(256, 256),
      isPng: true,
      alt: "MapBox",
      name: "MapBox",
      maxZoom: 16
    });
    map.mapTypes.set('MapBox',osmMapLayer);

    map.setMapTypeId('MapBox');

    $.getJSON("/restaurants.json?lat=" + lat + "&lng=" + lng, function(data) {
      console.log(data);
      for (var r = 0; r < data.length; r++) {
        loadRestaurant(data[r]);
      }
    });
  }
  init();

  function loadRestaurant(restaurant) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(restaurant.lat, restaurant.long),
      map: map,
      title: restaurant.score
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(restaurant.name);
      infowindow.open(map, marker);
    });
  }
